---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Override the Minima theme's styles with your custom styles
body {
  font: 400 14px/1.5 "Garamond", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: black;
  color: white;
}

.site-title {
  margin: 0 auto;
  margin-left: 45%;
}

.site-title, .site-title:hover {
  color: #f5f3f3;
  letter-spacing: 2px;
}

.site-nav, .page-link {
  color: #c1b9b5 !important;
}

.post-meta, .post-link {
  font: 400 14px/1.5 sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
  display: inline;
}

.post-meta {
  color: #d3a760;
}

.post-link {
  color: #cbe315;
}

a {
  color: #cbe315;
  text-decoration: none;
}

a:visited {
  color: #b0bf1a;
}

a:hover {
  color: #e0dcda;
}

.rss-subscribe {
  color: #b6ada9;
}
